<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1114696996160323584/PO2YCu5f_200x200.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Nathan's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1114696996160323584/PO2YCu5f_200x200.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Nathan's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1114696996160323584/PO2YCu5f_200x200.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Nathan's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1114696996160323584/PO2YCu5f_200x200.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Nathan's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1114696996160323584/PO2YCu5f_200x200.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Nathan's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
